a.custom-card,
a.custom-card:hover {
  color: inherit;
}

ul.ui-autocomplete {
    z-index: 1000;
    background-color: white;
    border-radius: 4px;
}

.ui-widget-content {
    background: white;
    font: Helvetica Neue Light;
    color: #868e96;
}

.cardlib {
    background: #0275d8;
    color: white;
    opacity: 0.5;
    transition: opacity 0s;
}
.cardlib:hover {
    background: #0275d8;
    color: white;
    opacity: 0.8;
    transition: opacity 0s;
}

.cardsup {
    background: #d9534f;
    color: white;
    opacity: 0.5;
    transition: opacity 0s;
}
.cardsup:hover {
    background: #d9534f;
    color: white;
    opacity: 0.8;
    transition: opacity 0s;
}

.cardtemp {
    background: #292b2c;
    color: white;
    opacity: 0.5;
    transition: opacity 0s;
}
.cardtemp:hover {
    background: #292b2c;
    color: white;
    opacity: 0.8;
    transition: opacity 0s;
}

.cardsec {
    background: #f0ad4e;
    color: white;
    opacity: 0.5;
    transition: opacity 0s;
}
.cardsec:hover {
    background: #f0ad4e;
    color: white;
    opacity: 0.8;
    transition: opacity 0s;
}

.row a {
    text-decoration: none;
}
