{% extends "budgetary_quote" %}
{% block content2 %}
    <script type="text/javascript">
        suggest_input("#input-SalesKey-add", {{ skey | safe | json_encode()}});
        suggest_input("#input-Country-add", {{ country | safe | json_encode()}});
        suggest_input("#input-Industry-add", {{ indus | safe | json_encode()}});
        suggest_input("#input-SubIndustry-add", {{ subindus | safe | json_encode()}});

    </script>
{% endblock %}