<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href="/static/css/index.css">
    <title>Hello, world!</title>
</head>
<body>

    <nav class="navbar navbar-white bg-secondary">
        <a href="/budgetary_quote">
            <span class="navbar-text text-light">
                Home
            </span>
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a href="/budgetary_quote" class="custom-card">
                    <div class="card border-primary text-center mt-4 cardlib rounded-0" style="height: 43vh;">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h3>Library</h3>
                        </div>
                    </div>
                </a>

                <a href="/budgetary_quote" class="custom-card">
                    <div class="card border-secondary text-center mt-4 cardtemp rounded-0" style="height: 43vh;">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h3>Temperature</h3>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-6">
                <a href="/budgetary_quote" class="custom-card">
                    <div class="card border-danger text-center mt-4 cardsup rounded-0" style="height: 43vh;">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h3>Supplies</h3>
                        </div>
                    </div>
                </a>

                <a href="/budgetary_quote" class="custom-card">
                    <div class="card border-warning text-center mt-4 cardsec rounded-0" style="height: 43vh;">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h3>Security</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>